```env
NEXT_PUBLIC_SUPABASE_URL=https://owgovplzxyosovctmafe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93Z292cGx6eHlvc292Y3RtYWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1OTU3MzIsImV4cCI6MjA5NjE3MTczMn0.L5s-ivfqySzHx_EONT4dXW5u36WP5qqeQ1xKXWGphEs
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_APP_NAME=Platform
NEXT_PUBLIC_APP_URL=http://localhost:3000
```
